<launch>
  <arg name="view" default="true" />

  <!-- Dualshock 4 -->
  <node name="$(anon essentials_controller_joy)" pkg="joy" type="joy_node" output="screen">
    <param name="autorepeat_rate" value="30"/>
  </node>

  <!-- Controller -->
  <node name="$(anon essentials_controller)" pkg="robocon2022_essentials_controller" type="controller" output="screen"/>

  <!-- Emergency -->
  <node name="$(anon essentials_controller_emergency)" pkg="robocon2022_essentials_controller" type="emergency" output="screen"/>


  <!-- Visualizer -->
  <node name="$(anon essentials_controller_visualizer)" pkg="robocon2022_essentials_visualizer" type="controller_visualizer" output="screen"/>

  <group if="$(arg view)" >
    <!-- image view -->
    <node name="$(anon controller_image_view)" pkg="image_view" type="image_view" output="screen" ns="controller_image_view" >
      <remap from="image" to="/essentials_controller_visualizer/color/image/" />
      
      <!-- <param name="autosize" value="true"/> -->
    </node>
  </group>
</launch>