<launch>
  <!-- Visualizer -->
  <node name="essentials_pid_debug_visualizer" pkg="robocon2022_essentials_visualizer" type="pid_debug_visualizer" output="screen"/>

  <node name="gain_image_view" pkg="image_view" type="image_view" output="screen" ns="gain_image_view">
    <remap from="image" to="/essentials_pid_debug_visualizer/color/image/" />
  </node>
</launch>