<launch>
  <arg name="view" default="true" />

  <!-- Serial -->
  <node name="essentials_serial" pkg="robocon2022_essentials_serial" type="serial" output="screen"/>

  <group if="$(arg view)" >
    <!-- image view -->
    <node name="slave_image_view" pkg="image_view" type="image_view" output="screen" ns="master_image_view">
      <remap from="image" to="/essentials_visualizer/color/image/" />
    </node>
  </group>
</launch>